node-linker=hoisted
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@testing-library/*

enable-pre-post-scripts=false
auto-install-peers=true
strict-peer-dependencies=false
onlyBuiltDependencies[]=react-scripts
onlyBuiltDependencies[]=@testing-library/dom
